.box{
	background-color: #666;
    box-sizing: border-box;
    margin: 100px;
	padding: 30px;
	width: 500px;
	margin: 0 auto;
}
h2 {color: white;
font-size: 60px;
background-color: #FA8072;
}
em {color: white;
background-color: red;
}
span {color: white;
background-color: red;
}
